#first img {
    position: relative;
    width:100%;
    padding-top: 105px;
}

#first h2 {
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
    padding-left: 100px;
    font-size: 50px;
}

#second img{
    position: relative;
    width:100%;
    padding-top: 200px;
}

#second h2 {
    position: absolute;
    top: 800px;
    left: 0;
    width: 100%;
    padding-left: 60%;
    font-size: 50px;
}

#third img {
    position: relative;
    width:100%;
    padding-top: 150px;
}

#third h2 {
    position: absolute;
    top: 1250px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 50px;
}

#fourth img{
    position: relative;
    width:100%;
    padding-top: 120px;
}

#fourth h2 {
    position: absolute;
    top: 2100px;
    left: 0;
    width: 100%;
    padding-left: 1000px;
    font-size: 50px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
.table{
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

h1{
    padding-top: 10px;
    padding-left: 1075px;
    font-size: 18px;
    color: dimgray;
}

.table-booth{
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

.table-booth tr #register1, #register2 {
    color: blue;
}

.container h1{
    padding-left: 1px;
}
.container {
    padding-left: 40%;
    background-color: lightblue;
}

input[type=text], input[type=password], textarea {
    width: 30%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: block;
    border: none;
    background: #f1f1f1;
}


.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.table-contest{
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

.table-contest tr #register3, #register4 {
    color: blue;
}
